<!DOCTYPE html>
<html ng-app="angApp">
  <head>
    <meta charset="utf-8">
    <title>Angular App</title>
    <script src="https://code.angularjs.org/1.5.7/angular.js"></script>
    <script src='app.js'></script>
  </head>
  <body ng-controller="mainController">
    <h1>Welcome to my angular app.</h1>

    <form ng-submit="addItem()">
      <input type="text" ng-model="input">
      <input type="text" ng-model="price">
      <input type="submit" value="Hit me!">
    </form>

    <h3>{{input}}</h3>
    <hr>
    <div ng-repeat="foodItem in foodArray">
      <ul>Item name : {{foodItem.name}} | Price: {{foodItem.price}}</ul>
    </div>
  </body>
</html>
