<div class="left-align row">
  <img ng-src="{{vm.movie.Poster}}">
  <div>
    <h4>{{vm.movie.Title}}</h4>
    <p><strong>Director:</strong> {{vm.movie.Director}}</p>
    <p><strong>Released:</strong> {{vm.movie.Released}}</p>
    <p><strong>Genre:</strong> {{vm.movie.Genre}}</p>
    <p><strong>Rated:</strong> {{vm.movie.Rated}}</p>
    <p><strong>Runtime:</strong> {{vm.movie.Runtime}}</p>
    <p><strong>Language:</strong> {{vm.movie.Language}}</p>
    <p><strong>Actors:</strong> {{vm.movie.Actors}}</p>
    <p><strong>Plot:</strong> {{vm.movie.Plot}}</p>
  </div>
</div>
