<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>camera-shop</title>
    <style>
      .onSale {
        color: orange;
      }
    </style>
  </head>
<body ng-controller="ShoppingController">
<h1>Camera Shop</h1>
<!-- LIST ITEMS -->
<div>
  <h3>Cameras:</h3>
  <select ng-model='cameraSelect' select='price'>
    <option selected>Price</option>
    <option>Rating</option>
  </select>
  <ul ng-show='cameraSelect === "Price"'>
    <li ng-repeat='item in availableItems | orderBy: "-price"'>
      <p>{{ item.title }}</p>
      <p ng-class='{onSale: {{ item.onSale }} }'>Price: {{ item.price / 100 | currency }} <span ng-show='{{ item.onSale }}'> ON SALE!! </span></p>
      <p>Rating: {{ item.rating }}</p>
      <img ng-src='{{ item.image }}'>
      <button ng-click="addItem(item)">Add To Cart</button>
    </li>
  </ul>
  <ul ng-show='cameraSelect === "Rating"'>
    <li ng-repeat='item in availableItems | orderBy: "-rating"'>
      <p>{{ item.title }}</p>
      <p ng-class='{onSale: {{ item.onSale}} }'>Price: {{ item.price / 100 | currency }}</p>
      <p>Rating: {{ item.rating }}</p>
      <img ng-src='{{ item.image }}'>
      <button ng-click="addItem(item)">Add To Cart</button>
    </li>
  </ul>
</div>

<!-- CART -->
<div>
  <h2>Items in cart:</h2>
  <h3>
    <ul>
      <li ng-repeat="item in currentItems track by $index">
        {{item.title}}, {{item.price / 100 | currency}}
      </li>
    </ul>
  </h3>
  <h5>Total Cost:</h5>
  <span>{{totalCost / 100 | currency}}</span>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script type='text/javascript' src='app.js'></script>
</body>

</html>
